.pricing-table{
    background: url('../images/priceTable.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 700px;
}

.pricing-table img{
    width: 42px;
    
}

.pricing-table .card-body .dollar{
    top: -0.9rem;
}

.pricing-table .card-body span{
    color : #000;
    font-weight: bolder;
}
.pricing-table .card-body i{
    color: #FE9A04;
}
.pricing-table .card-body i.dark{
    color: #000;
}