@import 'header.css';
@import 'services.css';
@import 'pricing-table.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h6 span{
    
    border: 1px solid #FE9A04;
    padding: 4px 8px;
    font-size: 10px;
}
span {
    color: #FE9A04;
}


/* styles for the sponsers  */

.sponsers hr{
    width: 90%;
    margin: 0 auto;
}

/* Styles for careers  */
.careers {
    background-image: url('../images/img11.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 700px;
}
/*  */

.completed-projects {
    background-image: url('../images/img12.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 700px;
}
.completed-projects .card{
    background-color: rgba(0,0,0,0);
}
.completed-projects .card h5{
    color: #d7d7d7;
    font-size: 1.3em;
}


@media only screen and (max-width:750px){
    .completed-projects .card h3{
        font-size: 16px;
    }
    .completed-projects .card h5{
        font-size: 12px;
    }
}