@import 'header.css';
@import 'services.css';
@import 'pricing-table.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h6 span{
    
    border: 1px solid #FE9A04;
    padding: 4px 8px;
    font-size: 10px;
}
span {
    color: #FE9A04;
}


/* styles for the sponsers  */

.sponsers hr{
    width: 90%;
    margin: 0 auto;
}
.pricing-table{
    height: 1100px;;
}